@page "/"
@inject UserVoiceRepository userVoiceRepository

<h1>User voice</h1>

<ul>
    @foreach(var item in userVoiceRepository.GetUserVoiceItems())
    {
        <li>
            <UserVoiceItemDetails Model="@item" />
        </li>
    }
</ul>

<hr />
<ul>
    @foreach(var item in userVoiceRepository.GetUserVoiceItems())
    {
        <li>
            <UserVoiceItemDetails Model="@item" />
        </li>
    }
</ul>